*.sdf
*.suo
_UpgradeReport_Files
UpgradeLog.*
DerivedData
.xcuserstate
*.xcuserdatad
.DS_Store
xcshareddata
SDL-1.2.9
*.opensdf
DebugVC7
bin
*/ReleaseVC7
*vcxproj.user
DUKE3D.GRP

# Linux
*.o
*.a
chocolate-duke3d
duke3d.grp
*.obj
*.log
*.tlog
*.sbr
*.idb
*.pdb
*.exe
*.ilk
*.bsc
*.lib
*.res
Output/Release/duke3d.cfg
Output/Debug/duke3d.cfg
Output/Debug/SDL.dll
Output/Debug/SDL_mixer.dll
Output/Release/SDL.dll
Output/Release/SDL_mixer.dll
